.not-found {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.not-found-icon {
    margin-bottom: 90px;
    color: #facc15;
    font-size: 150px;
}

.not-found-title {
    margin-top: 0;
    margin-bottom: 10px;
    color:white;
    font-size: 60px;
    line-height: 1;
    font-weight: 700;
}

.not-found-message {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 24px;
    color:#ffffff;
    line-height:30px;
}

.not-found-button {
    margin-top: 15px;
    padding: 8px 12px;
    background-color: #235BD6;
    border-radius: 5px;
    color: #ffffff;
    text-decoration: none;
    transition: background-color 0.2s ease;
}

.not-found-button:hover {
    background-color: #1E4AAB;
}
