.description-button {
    margin-bottom: 1.25rem;
    color: #8338EC;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.description-button:hover {
    color: #5D4382;
}

.view-all-jobs {
  max-width: 32rem;
  margin: 01.5rem auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.view-all-jobs-button {
  display: block;
  padding: 1rem 1.5rem;

  background-color: #4B244A;
  border-radius: 0.75rem;

  color: #ffffff;
  text-align: center;
  text-decoration: none;

  transition: background-color 0.2s ease;
}

.view-all-jobs-button:hover {
  background-color: #374151;
}