.home-cards-section {
    padding: 16px 0;
    background-color: #111827;
}

.home-cards-container {
    width: 100%;
    max-width: 2100px;
    margin: 0 auto;
}

.home-cards-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    padding: 16px;
}

.home-card {
    padding: 30px;
    border-radius: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
}

.overview-card {
    background-color: #334155;
}

.all-card {
    background-color: #334155;
}

.priority-overview-card {
    background-color: #334155;
}

.ui-card {
    background-color: #334155;
}

.weekly-card {
    background-color: #334155;
}

.home-card-title {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
}

.home-card-description {
    margin-top: 8px;
    font-size: 16px;
    color: #e7e7e7;
}

.home-card-button {
    display: inline-block;
    padding: 8px 16px;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition:
        background-color 0.2s ease,
        transform 0.2s ease;
}

.home-card-button:hover {
    transform: translateY(-1px);
}

.all-button {
    background-color: #235BD6;
}

.all-button:hover {
    background-color: #1E4AAB;
}


/*tablet size */
@media (min-width: 768px) {
    .home-cards-grid {
        grid-template-columns: repeat(2, 1fr);
    }

}

/* larger screen size */
@media (min-width: 1200px) {
    .home-cards-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* @media (prefers-color-scheme: dark) {
  .all-card {
    background-color: #1f2937;
  }

  .employer-card {
    background-color: #312e81;
  }

  .home-card-title {
    color: #f9fafb;
  }

  .home-card-description {
    color: #d1d5db;
  }
} */