.task-completion-trend {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position:relative;
    margin-bottom: 0px;
    color: white;
}

.completion-tooltip {
    position: absolute;
    display: none;
    pointer-events: none;

    padding: 6px 10px;
    border-radius: 6px;
    background: #111827;
    color: #fff;
    font-size: 12px;
}


.no-completed-task {
    height: 120px;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

